{% extends "users\\layout.html" %}
{% block title %}
quota
{% endblock%}

<div>
    {% block body %}
    <h1>Your Quota</h1>
    <table>
        <tr>
            <th>Monday</th>
            <th>
                <ul>
                    {% for s in subselect %}
                        {% if s.days == "Monday"%}
                            <li>{{ s }} section: {{ s.subject.section }} time: {{ s.time }} sit: {{ s.sit }}</li>
                        {% endif %}
                    {% endfor %}
                    <form action="{% url 'book' user.username %}" method="post">
                        {% csrf_token %}
                        <select name="quotas">
                            {% for n in nonselect %}
                                {% if n.days == "Monday" and n.sit != 0 %}
                                    <option value="{{ n.id }}">{{ n }} section: {{ n.subject.section }} time: {{ n.time }} sit: {{ n.sit }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input class="buttonadd" type="submit" value="add">
                    </form>
                </ul>
            </th>
        </tr>

        <tr>
            <th>Tueseday</th>
            <th>
                <ul>
                    {% for s in subselect %}
                        {% if s.days == "Tueseday"%}
                            <li>{{ s }} section: {{ s.subject.section }} time: {{ s.time }} sit: {{ s.sit }}</li>
                        {% endif %}
                    {% endfor %}
                    <form action="{% url 'book' user.username%}" method="post">
                        {% csrf_token %}
                        <select name="quotas">
                            {% for n in nonselect %}
                                {% if n.days == "Tueseday" and n.sit != 0 %}
                                    <option value="{{ n.id }}">{{ n }} section: {{ n.subject.section }} time: {{ n.time }} sit: {{ n.sit }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input class="buttonadd" type="submit" value="add">
                    </form>
                </ul>
            </th>
        </tr>

        <tr>
            <th>Weneseday</th>
            <th>
                <ul>
                    {% for s in subselect %}
                        {% if s.days == "Weneseday"%}
                            <li>{{ s }} section: {{ s.subject.section }} time: {{ s.time }} sit: {{ s.sit }}</li>
                        {% endif %}
                    {% endfor %}
                    <form action="{% url 'book' user.username%}" method="post">
                        {% csrf_token %}
                        <select name="quotas">
                            {% for n in nonselect %}
                                {% if n.days == "Weneseday" and n.sit != 0 %}
                                    <option value="{{ n.id }}">{{ n }} section: {{ n.subject.section }} time: {{ n.time }} sit: {{ n.sit }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input class="buttonadd" type="submit" value="add">
                    </form>
                </ul>
            </th>
        </tr>

        <tr>
            <th>Thurseday</th>
            <th>
                <ul>
                    {% for s in subselect %}
                        {% if s.days == "Thurseday"%}
                            <li>{{ s }} section: {{ s.subject.section }} time: {{ s.time }} sit: {{ s.sit }}</li>
                        {% endif %}
                    {% endfor %}
                    <form action="{% url 'book' user.username%}" method="post">
                        {% csrf_token %}
                        <select name="quotas">
                            {% for n in nonselect %}
                                {% if n.days == "Thurseday" and n.sit != 0 %}
                                    <option value="{{ n.id }}">{{ n }} section: {{ n.subject.section }} time: {{ n.time }} sit: {{ n.sit }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input class="buttonadd" type="submit" value="add">
                    </form>
                </ul>
            </th>
        </tr>

        <tr>
            <th>Friday</th>
            <th>
                <ul>
                    {% for s in subselect %}
                        {% if s.days == "Friday"%}
                            <li>{{ s }} section: {{ s.subject.section }} time: {{ s.time }} sit: {{ s.sit }}</li>
                        {% endif %}
                    {% endfor %}
                    <form action="{% url 'book' user.username%}" method="post">
                        {% csrf_token %}
                        <select name="quotas">
                            {% for n in nonselect %}
                                {% if n.days == "Friday" and n.sit != 0%}
                                    <option value="{{ n.id }}">{{ n }} section: {{ n.subject.section }} time: {{ n.time }} sit: {{ n.sit }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input class="buttonadd" type="submit" value="add">
                    </form>
                </ul>
            </th>
        </tr>

        <tr>
            <th>Saturday</th>
            <th>
                <ul>
                    {% for s in subselect %}
                        {% if s.days == "Saturday"%}
                            <li>{{ s }} section: {{ s.subject.section }} time: {{ s.time }} sit: {{ s.sit }}</li>
                        {% endif %}
                    {% endfor %}
                    <form action="{% url 'book' user.username%}" method="post">
                        {% csrf_token %}
                        <select name="quotas">
                            {% for n in nonselect %}
                                {% if n.days == "Saturday" and n.sit != 0 %}
                                    <option value="{{ n.id }}">{{ n }} section: {{ n.subject.section }} time: {{ n.time }} sit: {{ n.sit }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input class="buttonadd" type="submit" value="add">
                    </form>
                </ul>
            </th>
        </tr>

        <tr>
            <th>Sunday</th>
            <th>
                <ul>
                    {% for s in subselect %}
                        {% if s.days == "Sunday"%}
                            <li>{{ s }} section: {{ s.subject.section }} time: {{ s.time }} sit: {{ s.sit }}</li>
                        {% endif %}
                    {% endfor %}
                    <form action="{% url 'book' user.username%}" method="post">
                        {% csrf_token %}
                        <select name="quotas">
                            {% for n in nonselect %}
                                {% if n.days == "Sunday" and n.sit != 0 %}
                                    <option value="{{ n.id }}">{{ n }} section: {{ n.subject.section }} time: {{ n.time }} sit: {{ n.sit }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input class="buttonadd" type="submit" value="add">
                    </form>
                </ul>
            </th>
        </tr>
    </table>
    <br><br>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'u_index' %}">Profile</a>
    <a href="{% url 'subject' %}">See All Subjects</a><br><br>
    {% endblock %}
</div>