{% extends "users\\layout.html" %}
{% block title %}
Profile
{% endblock%}
<div>
    {% block body %}
    <h1>Profile</h1>
    <ul>
        <li>Name: {{ request.user.first_name }} {{ request.user.last_name }} <br><br></li>
        <li>Username: {{ request.user.username }} <br><br></li>
        <li>Email: {{ request.user.email }} <br><br></li>

    </ul>

    <a href="{% url 'quotas' user.username %}">Quota</a>
    <a href="{% url 'subject' %}">See All Subjects</a><br><br>
    <a ID="logoutt" href="{% url 'logout' %}">Logout</a>

    {% endblock %}
</div>